body {
    display: flex;
    background-image: url('/IMGs/art/serenity.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lora';
}
.wrapper {
    width: 40rem;
    position: relative;
    left: 50rem;
}
.gallery img {
    max-width: 200px;
}
h1, h2, h3 {font-family: 'Spirit'}

h1 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px rgb(38, 0, 255) ,3px 3px 3px rgb(255, 66, 176);
}
h2, h3 {
    color: rgb(255, 152, 224);
    text-shadow: 2px 2px 1px rgb(174, 0, 255);
    text-decoration: underline wavy rgb(38, 0, 255);
}
.fancy {
font-size: 1.1rem;
font-style: italic;
font-weight: bold;
color: rgb(148, 175, 250);
}

.textbox {
    background-color: rgba(182, 130, 182, 0.308);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 3px double rgb(101, 255, 229);
    color: rgb(101, 255, 229);
}
header a {
    color: rgb(130, 246, 250);
}