:root {
    --color-one: #aff1c4;
    --color-two: #161049;
    --color-three: #196d85;
    --color-four: #2a2d51;
}

* {box-sizing: border-box;}

body {
    background-image: url(/538695.png);
    font-family: 'Besley';
    font-size: .70rem;
    background-color: var(--color-two);
    color: var(--color-one);
    }    
    
/*=============================================
=             Framework/classes              =
=============================================*/
.wrap-width {max-width: 84vw;}

.header {
    text-align: center;
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 40vw;
}

.left-sidebar, .right-sidebar {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
}

.inner-box {
    padding: 1rem;
    margin: 1rem;
    border: 3px solid var(--color-one);
    border-radius: 5px;
    background-color: var(--color-four);
}
nav {
    display: inline-block;
    width: 12rem;
    padding: 1rem;
    text-align: center;
}   
.navlink {
    display: block;
    font-size: 1rem;
}
    #sitely {
        display: inline-block;
        height: 11rem;
        max-width: 22em;
        overflow: scroll;
        padding: 1rem;
    }
        

/*=====  Neighborhood  ======*/
#neighborhood {
    max-height: 20rem;
    display: inline-flex;
    padding: 1.8rem;
    @media (max-width: 800px) 
        {flex-direction: column;
        max-height: max-content;}
    }

#neighborhood div {
    flex: 1 1;
    & h3 {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}
#webrings {
    height: 16rem;
    overflow: scroll;
    width: 16rem;
    align-content: space-around;
}
.textcliq {
    display: block;
    margin: 2px 0;
    text-align: center;
    object-fit: contain;
    width: 100%;
}
/*=====  End of Neighborhood  ======*/



/*=============================================
=                Page Styling                =
=============================================*/

h1 {
    font-family: 'NugieRomantic';
    font-size: 4.5rem;
    color: var(--color-one);
    margin: 0;
    margin-top: 2rem;
    text-shadow:
    1px 2px 1px #c063e8,
    2px 2px 0px #340d8e,
    2px 2px 0px #273a48;
}

   h2 {
    font-family: 'Heart';
    font-size: 1.6rem;
}

h3 {
    font-family: 'Spirit';
}


 .left-sidebar {
    background-image: url('/IMGs/');
 }

.navlink {
    font-family: 'Basiic';
    font-size: 1.2rem;
    text-decoration: none;
    padding: .3rem;
    font-style: italic;
    color: var(--color-three); 
}
#button {
    margin: auto;
    width: 9rem;
    height: 9rem;
    text-align: center;
}
#button img {
    margin: 1rem;
}

#sitely {
    font-size: .7rem;
    & h5 {
        font-size: 1rem;
    }
}
#sitely p:first-of-type {
    background-color: rgb(87, 33, 87);
    border: 2px solid rgb(116, 40, 116);
    color: rgb(242, 198, 251);
    border-radius: 1rem;
    padding: 4px;
}
#stats {
    padding: 1rem;
    align-items: center;
    height: 8rem;
}

footer {
    font-family: 'MS Gothic';
    text-shadow: 1px 0px #451dab, -1px 0px #451dab, 0px 1px #451dab, 0px -1px #451dab, 0 0 1rem white;
    color: var(--color-one);
    font-weight: 900;
    font-size: .9rem;
    & a {
        color: #98f8d8;
    }
}

/*=============================================
=          ✦•┈๑⋅⋯ EXTRAS ⋯⋅๑┈•✦            =
=============================================*/

/*----------  Status Cafe🍵  ----------*/
#statuscafe {
    background: var(--color-one);
    border-radius: 10px;
    padding: .5em;
    margin: .5em;
    border-radius: 10px;
}
#statuscafe-username {
    font-family: 'PixelPoiz';
    font-size: .9rem;
    
    & a {
        color: #c306b0;
    }
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 0.8em 0.5em 0.8em;
    font-size: .7rem;
}
/*=====  🫖  ======*/


/*====  IMood ☺️  =====*/
#imood {
    text-align: center;
    display: block;
    margin: .2rem auto;
    font-family: 'NugieRomantic';
    font-size: 1rem;
}

/*=====  ChatBox💬  ======*/
#cbox {
    margin: auto;
    height: 200px;
    background-color: #98f8d8;
}


    /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8054c9 #f9c5fc;
  }

  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #f9c5fc;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8054c9;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  
  ::-moz-selection { /* Code for Firefox */
    color: rgb(255, 77, 202);
    background: rgb(165, 255, 145);
    }

    ::selection {
        color: rgb(255, 77, 202);
        background: rgb(165, 255, 145);
    }
