:root {
    font-size: 16px;
    --color-one: #5e0632;
    --color-two: #7f5988;
    --periwinkle: #baa7fe;
    --lightgreen: #f993ebcc;
    --dark-purple: #2a013a;
    --light-pink:  rgb(223, 172, 249);
    --dark-red: #941c4e;
    --pink: #f78ff5;
}
* {box-sizing: border-box;}

body,html {
    margin:0;
    padding:0;
  }
  
body {
    font-family: 'Lora';
    font-size: .9rem;
}

.container {
    display: flex;
    flex-flow: column;
    padding: 0 .4rem;
    margin: 0 auto;
    outline: 2px solid black;
    max-width: 66rem;
}
.container div {
    border: 1px solid red;
}

.header {
    text-align: center;
    margin: 1.5rem 0;
    width: 100%;
    height: 10rem;
    background-color: #d35e8b;
    background-image: url(/IMGs/z15-heart-line.gif);
    background-repeat: repeat-x;
    background-position-y: top;
}

    h1 {
        font-family: 'Closetome';
        font-size: 4rem;
        font-style: italic;
        color:#49061B;
        margin: 0;
        margin-top: 2rem;
        text-shadow: 2px 2.5px 3px var(--lightgreen);
    }
    header > p {
        font-family: 'Lora';
        font-style: italic;
        letter-spacing: 1.2px;
    }

main {
    display: inline-flex;
    flex-flow: row wrap;
    width: 54rem;
}
h2 {
    font-size: 1.6rem;
}

.left-sidebar {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    margin-right: 1rem;           
    width: 12rem;                                                                                                                        
}

.box {
    border: 2px solid var(--dark-purple);
    background-color: var(--color-two);
}

/* .navbox  {
    border-image: url(/IMGs/small-lace.png);
    border-image-slice: 8 8 9 8;
    border-image-width: 7px 7px 7px 7px;
    border-image-outset: 4px 4px 4px 4px;
    border-image-repeat: round round;
    background-color: #a9ffbf; 
    background-clip: padding-box;
    box-shadow: 0 0 9px rgb(255, 136, 195);                   
} */

nav {
    display: inline-block;
    width: 12rem;
    padding: .1rem;
    text-align: center;
    overflow: none  scroll;
    & h2 {
        padding: .3rem;
        margin-bottom: .2rem;
        margin-top: .8rem;
        margin-left: .6rem;
        color: rgb(255, 124, 189);
        font-size: 1.3rem;
    }  
}

.navlink {
    display: block;
    font-size: 1rem;
    border-radius: 25px 0px 25px 0px;
    border: 2px solid rgb(255, 171, 234);
    margin: .2rem;
    background: rgb(182,100,157);
    background: linear-gradient(180deg, rgba(182,100,157,1) 0%, rgba(30,6,68,1) 100%);
    font-family: 'Igiari';
    font-weight: bolder;
    font-size: 1rem;
    text-decoration: none;
    padding: .3rem;
    font-style: italic;
    color: rgb(223, 172, 249); 
}
.navlink:hover {
    text-shadow: 0px 1px 3px rgb(249, 191, 255);
    filter: drop-shadow(1px 3px 2px #342fd4);
}


#info {
    padding: .6rem 2rem;
    margin: 0 .2rem;
    max-width: 32rem;
}
#info > ul {
    margin-right: 3rem;
    list-style-position: outside;
    & li {margin-bottom: 1rem;}
    }

#webmistress {
    padding: .5rem;
    margin: 0 .1rem;
    width: 24rem;
    align-items: center;
}

/* Currently */
#currently {
    margin: .2rem;
    border: 1px solid purple;
    padding: 0rem .3rem .2rem .4rem;
    font-size: .8rem;
    
    }
#currently > h3:nth-child(1) {
    border-bottom: 2px dotted rgb(70, 9, 34);
    padding: .1rem;
    font-family: 'Basiic';
    }
    #currently > p > span {
        font-weight: bold;
        padding: 2px;
        margin-right: 4px;
        font-family: 'Basiic';
        border-bottom: 2px dotted black;
    }

/*=====  Neighborhood  ======*/
#neighborhood {
    max-height: 24rem;
    max-width: 50rem;
    display: inline-flex;
    padding: 1.8rem;
    margin: 1rem auto;
    @media (max-width: 800px) 
        {flex-direction: column;
        max-height: max-content;}
    }

#neighborhood div {
    flex: 1 1;
        }

#neighborhood h3 {
    display: inline-block;
    width: 100%;
    text-align: center;
}
        
#webrings {
    height: 16rem;
    overflow: scroll;
    width: 16rem;
    margin: auto;
    align-content: space-around;
}

.textcliq {
    display: block;
    margin: 2px 0;
            text-align: center;
    object-fit: contain;
    width: 100%;
}
/*=====  End of Neighborhood  ======*/

   
#button {
    margin: auto;
    width: 9rem;
    height: 9rem;
    text-align: center;
}
#button img {
    margin: 1rem;
}
#sitely {
    display: inline-block;
    height: 11rem;
    overflow: scroll;
    padding: 1rem;
    font-size: .7rem;
    height: 14rem;
    margin: 1rem;
    & h5 {
        font-size: 1rem;
    }
}
#sitely p:first-of-type {
    background-color: rgb(87, 33, 87);
    border: 2px solid rgb(116, 40, 116);
    color: rgb(242, 198, 251);
    border-radius: 1rem;
    padding: 4px;
}
#stats {
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    height: 10rem;
    width: 10rem;
    border: 1px solid purple;
    & h2 {
        margin: 0;
    }
}

#piclog {
    margin: 1rem;
    padding: .6rem;
    width: 16rem;
    height: 16rem;
    align-items: center;
    overflow: scroll;
}

#piclog img {
    max-width: 180px;
}

/* Comment */

.fancy {

}

/*=============================================
=                   Footer                   =
=============================================*/

footer {
    height: fit-content;
    font-family: 'Basiic';
    font-weight: bold;
    font-size: 1.18rem;
    width: 100%;
    & a {color: #ff0062;}
}

@media (max-width: 1201px) {
    :root {font-size: 15px;}
  }
  @media (min-width: 1024px) {  /* css code here */}
  @media (min-width: 768px) {  /* css code here */}
  @media (min-width: 480px) {  /* css code here */}
  @media (min-width: 320px) {  /* css code here */}


  
/*=============================================
=          ✦•┈๑⋅⋯ EXTRAS ⋯⋅๑┈•✦            =
=============================================*/

/*----------  Status Cafe🍵  ----------*/
#statuscafe {
    border-radius: 10px;
    margin: .5em;
    border-image: url(/IMGs/small-lace.png);
    border-image-slice: 8 8 9 8;
    border-image-width: 7px 7px 7px 7px;
    border-image-outset: 4px 4px 4px 4px;
    border-image-repeat: round round;
}

#statuscafe-username {
    font-family: 'Basiic';
    font-size: .9rem;
    padding: .5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ff2dff;
        & a {color: #ff2dff;
        text-decoration: wavy underline;}
}

#statuscafe-content {
    font-size: .86rem;
    color: #161049;
    padding: 1rem;
}
/*=====  🫖  ======*/


/*====  IMood ☺️  =====*/
#imood {
    text-align: center;
    display: block;
    margin: .2rem auto;
    font-family: 'Basiic';
    font-size: 1rem;
}
/*=====  ChatBox💬  ======*/
#cbox {
    margin: auto;
    height: 200px;
    }
/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #8054c9 #f9c5fc;
    }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 16px;
}

*::-webkit-scrollbar-track {
background: #f9c5fc;
        }

*::-webkit-scrollbar-thumb {
background-color: #8054c9;
border-radius: 10px;
border: 3px solid #ffffff;
    }

/*----------  Selection Color  ----------*/
::-moz-selection { 
color: var(--pink);
background: var(--lightgreen);
}

::selection {
    color:  var(--pink);
    background: var(--lightgreen);
    }

#animalcrossingring {
    display: inline-block;
    margin: 1rem;
    font-family: "MS UI Gothic",monospace !important;
    font-size: 7px !important;
        & h2 {
            font-size: .69rem;
        }
    }