
* {box-sizing: border-box;}

.wrap-width {
    max-width: 80rem;
    margin: 0 auto;
  }

  .header {
    text-align: center;
    margin: 0;
    }


.main-content {
    display: inline-flex;
    flex-flow: column wrap;
}

.left-sidebar, .right-sidebar {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
}
 
  #info {
    padding: 1.2rem;
    max-width: 80em;
    overflow: scroll;
    width: 100%;
  }

 #webmistress {
    padding: 1rem;
    max-width: 22em;
 }
 
    nav {
        display: inline-block;
        width: 12rem;
        padding: 1rem;
        text-align: center;
    }   
        .navlink {
            display: block;
            font-size: 1rem;
        }

    #sitely {
        display: inline-block;
        height: 11rem;
        max-width: 22em;
        overflow: scroll;
        padding: 1rem;
    }
            
            #latest {
                padding: 6px;
            }

    #webrings {
        height: 16rem;
        overflow: scroll;
        width: 16rem;
        padding: 1rem;
        align-content: space-around;
    }

    #fanlists {
        width: 18rem;
        height: 22rem;
        overflow: scroll;
        padding: .7rem;
    }

#neighborhood {
    display: inline-flex;
    padding: 1.6rem;
}
