
.container {
    display: grid;
    gap: 16px;
    grid-template:
      "header header header"
      "nav info update"
      "nav info webm"
      "piclog cbox webm"
      "nbh nbh nbh"
      "footer footer footer "
      / 1fr 4fr 3fr ;
      justify-content: space-around;
      justify-items: center;
      align-content: stretch;
  }

    header { grid-area: header; }
    nav {grid-area: nav;}
    #info {grid-area: info;}
    #neighborhood {grid-area: nbh;}
    #webmistress {grid-area: webm;}
    #cbox {grid-area: cbox;}
    #piclog {grid-area: piclog;}
    #updates {grid-area: update;}
    footer { grid-area: footer; }

                                                                                                            

    @media (max-width: 1060px) {
        :root {font-size: 13px;}
        .wrapper {
            grid-template:
            "header header"
            "left-sidebar main"
            "right-sidebar right-sidebar"
            "footer footer"
            / 1fr;
        }
    }
    /* tablet breakpoint */
@media (min-width:768px) {

}

    @media (max-width: 400px) {
        :root {font-size: 11px;}

        .container {
            grid-template:
            "header"
            "nav"
            "info"
            "update"
            "webm"
            "nbh"
            "cbox"
            "piclog"
            "footer"
            / 1fr;
            max-width: 100%;
            overflow-x: none;
            margin: 0;
        }
        .wrapper div {
            max-width: 90vw;
        }
      }

@media (min-width: 100px) {
    main > div {
        margin: 0 auto;
    }
    main {
        align-content: center;
    }

}