body {
    background-image: url(/shrines/f07-bg-lace.gif);
    background-repeat: repeat-x;
    background-position-y: 25%;
    background-color: #662946;
}
h1 {
    font-family: 'Organical';
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 5rem;
}
h2 {
    font-family: 'Lora';
    text-align: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.shrine {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 360px;
    border: 1px solid black;
    background-color: aqua;
    margin: 1rem;
    padding: 1rem;
}
.shrine img {
    max-width: 240px;
}
