:root {
    font-size: 16px;
}

img {
    max-width: 100%;
}
.responsive {/* Makes an image responsive ~to it's container~*/
    width: 100%;
    height: auto;
    }

.gallery {/*Creates an image gallery*/
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

/*----------  Flex classes  ----------*/
.flex {
    display: flex;
}

.inflex {
    display: inline-flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

b {
    font-weight: bold;
}
i {
    font-style: italic;
}
s {text-decoration: line-through;}
.center {
    display: block;
    margin: 0 auto;
}
.noMargin {
    margin: 0;
}
.smalltext {
    font-size: .6rem;
}
footer {
    margin: 3em auto;
    width: 50em;
    height: 80px;
    text-align: center;
    padding: .625em;
}



