:root {
    font-size: 16px;
}
* {
    cursor: url('/shrines/Unicornos/unicur.png'), auto;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Billo';
  src: url(/shrines/Unicornos/BILLO___.TTF);
}
body {
    font-family: 'MS Gothic';
    display: flex;
    flex-direction: column;
    background-color: #ffacc8;
  }
header {
  display: grid;
  max-width: 37.5rem;
  height: 10.438rem;
  background-image: url('/shrines/Unicornos/plaid.png');
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  align-items:center;
  border: 4px solid #ff0098;
  border-radius: 4rem;
}
h1 {
  font-family: 'Billo';
  font-weight: lighter;
  font-size: 2.45rem;
  color: rgb(154, 2, 255);
  text-shadow: 0 0 6px rgb(0, 255, 149), -1px -1px 6px rgb(0, 255, 149);
}
h2 {
  font-family: 'Billo';
  font-weight: lighter;
  font-size: 2rem;
  color: #ff8af5;
  text-shadow: 2px 2px 1px red, -1px -1px 1px red;
  background-image: url(/shrines/Unicornos/mesh.png);
  margin: 1rem;
  padding: 8px;
  width: fit-content;
  border-radius: 2rem;
  border: 2px dotted rgb(154, 2, 255);
}
main {
display: inline-flex;
flex-direction: column;
justify-content: center;
}
.wrapper {
  width: 66rem;
  margin: 0 auto;
}
.text-box {
  display: inline-flex;
  padding: 2rem;
}
.gallery {
  width: 60rem;
  margin: 0 auto;
  background-color: #aafcffe3;
  padding: 1rem;
  flex: auto;
}
.gallery img {
  max-width: 300px;
  margin: 2px;
}
a , a:visited {
  color: deeppink;
}
@media (max-width: 1075px) {
  :root {font-size: 14px;}
}
@media (max-width: 945px) {
  :root {font-size: 12px;}
}


/* ~~~~fun stuff~~~~ */
::-moz-selection { /*Firefox */
  color: rgb(255, 218, 244);
  background: #ffaaf4;
}

::selection {
  color: rgb(255, 218, 244);
  background: #ffaaf4;
}

 