    :root {
        font-size: 16px;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    h1 {
        display: inline-block;
    }

    #title {
      display: block;
      margin: 0 auto;
    }
    .column {
        width: 28rem;
        height: 40rem;
        padding: 3rem;
        margin: 0 auto;
        overflow-y: scroll;
        overflow-x: hidden;
        font-weight: 900;
    }

    ul img {
        margin-top: 0.313rem;
    }

    .innerBox {
        overflow-x: none;
        overflow-y: scroll;
        margin: 2rem;
    }

    @media screen and (max-width: 600px) {
        body {
            font-size: 11px;
            width: 100%;
        }

        .column {
            width: 100%;
            height: auto;
        }


        #container {
            background-image: none;
            border: none;
            outline: none;
            margin: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }
    }

  