@font-face {
  font-display: swap; 
  font-family: 'Lora';
  src: url('/Fonts/lora-v35-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-family: 'NugieRomantic';
  src: url('/Fonts/NugieRomantic-BEoV.ttf');
}
@font-face {
  font-family: "PatchFun";
  src: url(/Fonts/PatchFun.ttf);
}
@font-face {
  font-family: 'Organical';
  src: url('/Fonts/Organical.ttf');
}

@font-face {
    font-family: 'Minecraft';
    src: url('/Fonts/Minecraft.ttf')
}

@font-face {
    font-family: 'PixelPoiz';
    src: url('/Fonts/pixelpoiiz.ttf');
}

@font-face {
  font-family: 'MSPgothic';
  src: url('/Fonts/ms-pgothic.ttf');
}

@font-face {
  font-family: 'Romance';
  src: url('/Fonts/RomanceA.ttf');
}

@font-face {
  font-family: 'BirchLeaf';
  src: url(/Fonts/BirchLeaf.otf);
}

/*Basiic by Cinni https://cinni.net/*/
@font-face {
  font-family: 'Basiic';
  src: url(/Fonts/basiic.ttf);
}

/* Spirit by Asterism https://www.asterism-m.com/*/
@font-face {
  font-family: 'Spirit';
  src: url('/Fonts/Spirit.ttf');
}

  @font-face {
    font-family: 'DS';
    src: url('/Fonts/Nintendo-DS-BIOS.ttf');
  }

  @font-face {
    font-family:"Igiari";
    src: url('/Fonts/Igiari.woff')   
}
@font-face {
  font-family:"Closetome";
  src: url('/Fonts/CLOSM___.TTF')   
}
